<p>Dear {{ user.username }},</p>
<p>Welcome to <b>Paprika</b>!</p>
<p>注册成功，现在可以使用这个账号登录了！</p>
<p><del>To confirm your account please <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">click here</a>.</del></p>
<del>
	<p>Alternatively, you can paste the following link in your browser's address bar:</p>
	<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
	<p>Sincerely,</p>
	<p>Paprika</p>
	<p><small>Note: replies to this email address are not monitored.</small></p>
</del>
